#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.main-chat {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.5;
  margin-bottom: 10px;
  display: block;
}

.meassage__bubble {
  background-color: white;
  font-size: 20px;
  padding: 6px 14px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.meassage__time {
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .meassage__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
  margin-right: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -20px;
  top: 5px;
}

.reply__column:last-child > i {
  right: 20px;
  top: 13px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply__column button i {
  opacity: 1;
}
