.user-components-profile-text__object i {
  color: tomato;
  margin-left: 5px;
}

.fa-file-alt {
  color: black;
}

.user-components__more {
  border-bottom: none;
}

.icon-row__more {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: none;
}

.more-icon {
  border-bottom: solid 1px var(--gray);
}

.icon-row__more:nth-child(2) {
  margin-bottom: 10px;
}

.suggestions_image {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.suggestions-header {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin: 25px 0px;
}

.suggestions-main {
  display: flex;
}

.suggestions_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
}

.bedge__dot__more {
  position: relative;
  bottom: 22px;
  left: 80px;
}
