@keyframes notificationAnimation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.bedge__text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.bedge__dot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
